/* Write your CSS code here */
.blogContainer {
  border-bottom: 2px solid #9aa5b1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  padding: 20px;
  margin-bottom: 15px;
}

.blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.blogTitle {
  font-size: 30px;
  font-weight: 800;
  font-family: 'Roboto';
  color: #12022f;
}

.blogDate {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #9aa5b1;
}

.blogDescription {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #9aa5b1;
}
